<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
    	<title>instrt</title>
		<script src="static/utility.js"></script>		
		<style>
			.myDiv {border: 0px outset red;background-color: rgb(144, 187, 201);    text-align: left;}
			.myDiv2 {border: 0px outset red;background-color: rgb(161, 190, 235);    text-align: left;}
		</style>
	</head>

	<body style="background-color:#B8FFF9 ;">
		<h1 class = "h1" style="background-color: #0c8b7a" >INSTRUCTIONS</h1>
		<div class="myDiv">
			<ul>
				<li>After clicking the button to open the Calculator, a new pop up interface will appear , if not check your taskbar.</li>
				<li>Now the user can do the required calculations.</li>
			</ul>
		</div>
		<h2 class = "h2" style="background-color: #3671e8">RULES</h2>
		<div class="myDiv2">
			<ul>
				<li>Press the calculate button to compute the expression</li>
				<li>The comparison operator returns 1 for true and 0 for false</li>
				<li>Wrong use of the operators will raise "SYNTAX ERROR"</li>
				<li>The % operator is used to Calculate remainder of division</li>
				<li>Clear button is to clear all the entry</li>
				<li>Clear button is to clear all the entry</li>
				<li> ** operator is to calculate the power of a no.</li>
				<li> // floor division operator</li>
				<li> == operator to check the numbres are equals or not, and it will diaplay boolean value</li>
				<li> != operator  to check the numbres are not equals or equal, and it will diaplay boolean value </li>
			</ul>
			</div>

	</body>
	</html>
